@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
    display: inline-block;
    font-size: 48px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
  } 
  
  